body {
    background-color: #ECE7D1;
    font-family: Arial, sans-serif;
}

#topo-principal {
    background-color: #8A7650;
    color: white;
    padding: 20px;
    border-radius: 20px; /*Deixa o cabeçalho com um formato mais arredondado*/
    margin: 20px; /*Margem aumentada para 20px para aumentar o tamanho entre o cabeçalho e a lateral da página*/
}

.card {
    background-color: #DBCEA5;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    margin: 20px; /*Aumentada para 20px para ficar simétrico ao cabeçalho*/
    display: inline-block;
}

p span {
    font-weight: bold;
    color: black;
}

h1, h2 {
    color: #2c3e50
}

.card.destaque {
    border: 3px solid black;
    transform: scale(1.05);
}

button:hover {
    background-color: #8E977D;
    cursor: pointer;
}

nav ul li {
    color: #2c3e50; /*Muda a cor dos circulos da lista*/
}

nav ul li:nth-child(2) {
    text-transform: uppercase;
}